.awesomeReorderWrapper {

}

.awesomeReorderWrapper .taxonomy-selector.ajax-activity:after {
  font-size:.8em;
  content:" Loading..."
}

#awesomeReorder {
  width:960px;
  border:1px solid #999;
  padding:10px;
  overflow:hidden;
  margin-bottom:2em;
}

#awesomeReorder .ui-state-highlight,
.awesomeReorder__item {
  width:238px;
  height:238px;
  float:left;
  cursor:move;
  position:relative;
  margin:1px;
  background:#fff;
}

#awesomeReorder .ui-state-highlight {
  background:#D8F7FF;
}

.awesomeReorder__item .thumb {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: no-repeat center center;
  background-size:100%;
}
.awesomeReorder__item .title {
  position:absolute;
  left:0;
  bottom:0;
  z-index:10;
  background:#fff;
  color:#444;
  text-align:center;
  width:100%;
  border-top:1px solid #999
  padding:5px 0;
}

.save-awesome-order-progress {

}